body{
  background: #e7e7e7;
}
.log{
  background: #0A2647;
  border-radius: 5px;
  padding: 5px;
}
ul{
  list-style: none;
  padding: 0 10px !important;
  height: 500px;
  overflow-y: auto;
  padding: 5px;
  color: white;
}
li{
  word-break: break-word;
  font-size: 12px;
}
.clicks{
  background: #e6e8ea;
  display: flex;
  gap: 4px;
}
.clicks button{
  flex: 1;
  border: none;
  padding: 4px 0;
}

.user{
  background: #1B262C;
  margin: 3px 0;
  border: 1px solid #4a4a54;
  border-radius: 8px;
}
.user .head{
  padding: 2px 6px;
  border-radius: 7px 7px 0 0;
  border-bottom: 1px solid #4a4a54;
  color: #16d6c1;
}
.user .body{
  padding: 5px;
}
.user .body b{color: #e3e3e3 !important}
.user .body span{color: #cecccc}
.user .body span.command{color: #ead828}